---
import "../css/block/main.css";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Section from "../components/Section.astro";
import SlideCards from "../components/SlideCards.astro";
import About from "../components/About.astro";

const title = "Refeições Congeladas - Sesc/RS";
---

<Layout title={title}>
  <main class="flow main">
    <Hero />
    <div class="wrapper flow">
      <section id="refeicoes">
        <Section
          title="Conheça nosso cardápio"
          content="A linha de refeições congeladas do Sesc/RS foi criada pensando em tornar preparações caseiras e saborosas acessíveis às famílias gaúchas. Nossas refeições são elaboradas com insumos frescos e naturais, além de todo cuidado e segurança no preparo que nossos clientes merecem."
        />
      </section>
      <section><SlideCards category="Dia a dia" /></section>
      <section><SlideCards category="Especiais" /></section>
      <section><SlideCards category="Massas" /></section>
      <section><SlideCards category="Prática" /></section>
      <section><SlideCards category="Sopas" /></section>
      <section><SlideCards category="Vegana" /></section>
      <section><About /></section>
    </div>
  </main>
</Layout>
