.header {
  --gutter: 16px;
  padding-block: 24px;
}

.header-logo {
  max-width: 150px;
}

.header a {
  color: #034668;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  color: #034668;
  cursor: pointer;
  background: none;
  border: none;
}

.menu-close {
  position: absolute;
  top: 16px;
  right: 20px;
  display: none;
  font-size: 32px;
  font-weight: 200;
  color: #ffffff;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu {
    position: absolute;
    top: -24px;
    left: 0;
    z-index: 100;
    display: none;
    flex-direction: column;
    width: 100%;
    padding-block: 32px;
    text-align: center;
    background-color: #034668;
  }

  .menu a {
    color: #ffffff;
  }

  .menu.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .menu-close {
    display: block;
  }
}
