.product {
  padding-block: 48px;
  background-color: #f2f4f8;
}

.product img:not([class]) {
  border-radius: 10px;
}

.product-info {
  --flow-space: 16px;
  align-self: center;
}

.product-title {
  --color-title: #003180;
}

.product-price {
  font-weight: 500;
  color: #e50040;
}

.product-weight {
  font-size: 14px;
  color: #868e96;
}
