---
import "../css/block/about.css";
import Images from "./Images.astro";
---

<div class="grid about">
  <div class="about-item">
    <Images src="equipe" alt="Equipe das Refeições Congeladas" />
    <p>
      As preparações foram pensadas para complementar a refeição principal, como
      a linha Dia a dia, atender cardápios diferenciados, como a linha
      Especiais, ou facilitar o dia a dia das famílias, com a linha Prática.
    </p>
  </div>

  <div class="about-item">
    <Images src="embalagens" alt="Embalagem das refeições" />
    <p>
      Embalagens sustentáveis fabricadas a partir de fibras naturais
      alternativas, como palha de milho reaproveitada da agricultura local, e
      100% livres de plástico. Recicláveis, compostáveis e  biodegradáveis com
      decomposição em menos de 12 semanas.
    </p>
  </div>
</div>
