---
import "../css/block/footer.css";
import logo from "../images/logo-footer.png";
---

<footer class="footer">
  <a href="https://www.sesc-rs.com.br/">
    <img src={logo.src} alt="Logo Sesc/RS" />
  </a>
</footer>
