---
import "../css/block/header.css";
import { Image } from "astro:assets";
import logo from "../images/logo.png";
---

<header class="header">
  <div class="wrapper repel">
    <a href="">
      <img class="header-logo" src={logo.src} alt="Sesc/RS" />
    </a>

    <nav>
      <ul class="repel">
        <li><a href="/#refeicoes">Refeições</a></li>
        <li><a href="#sobre">Comprar</a></li>
        <li><a href="#contato">Contato</a></li>
      </ul>
    </nav>
  </div>
</header>
