---
import "../css/block/hero.css";
import brand from "../images/marca.png";
---

<section class="hero">
  <div class="wrapper hero-image">
    <img src={brand.src} alt="Refeições Congeladas" />
  </div>
</section>
