---
import "../css/block/nutrition.css";

const {
  calories,
  carbohydrate,
  sugars,
  added,
  protein,
  fat,
  saturated,
  trans,
  fiber,
  sodium,
} = Astro.props.values;

const content = [
  { label: "VALOR ENERGÉTICO (kcal)", g: calories.g, vd: calories.vd },
  { label: "CARBOIDRATOS(g)", g: carbohydrate.g, vd: carbohydrate.vd },
  { label: "AÇUCARES TOTAIS (g)", g: sugars.g, vd: sugars.vd },
  { label: "AÇUCARES ADICIONADOS (g)", g: added.g, vd: added.vd },
  { label: "PROTEÍNAS (g)", g: protein.g, vd: protein.vd },
  { label: "GORDURAS TOTAIS (g)", g: fat.g, vd: fat.vd },
  { label: "GORDURAS SATURADAS (g)", g: saturated.g, vd: saturated.vd },
  { label: "GORDURAS TRANS (g)", g: trans.g, vd: trans.vd },
  { label: "FIBRA ALIMENTAR (g)", g: fiber.g, vd: fiber.vd },
  { label: "SÓDIO (mg)", g: sodium.g, vd: sodium.vd },
];
---

<div class="flow nutrition">
  <h3>Tabela nutricional</h3>

  <table>
    <colgroup>
      <col />
      <col />
      <col />
    </colgroup>

    <thead>
      <tr>
        <th>Porção de 100g</th>
        <th>Total</th>
        <th>VD*</th>
      </tr>
    </thead>

    <tbody>
      {
        content.map((item) => (
          <tr>
            <td>{item.label}</td>
            <td>{item.g}</td>
            <td>{item.vd ? `${item.vd}%` : ""}</td>
          </tr>
        ))
      }
    </tbody>

    <tfoot>
      <tr>
        <td>*Percentual de valores diários fornecidos pela porção.</td>
      </tr>
    </tfoot>
  </table>
</div>

<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }

  th {
    padding-block: 16px;
    font-weight: 500;
    text-align: left;
    color: #343a40;
  }

  tr {
    font-size: 14px;
    color: #495057;
    border-top: 1px solid #d9d9d9;
  }

  td {
    padding-block: 14px;
  }

  tbody td:first-child {
    font-size: 12px;
    font-weight: 500;
  }

  tfoot td {
    font-size: 12px;
  }
</style>
