---
import "../css/block/section.css";
import pattern from "../images/pattern.png";

const { title, content } = Astro.props;
---

<div class="flow section">
  <img
    src={pattern.src}
    alt="Ícone Refeições Congeladas"
    width={40}
    height={40}
  />

  <h2 class="section-title">{title}</h2>
  <p class="section-content">{content}</p>
</div>
